@import url("https://fonts.googleapis.com/css2?family=STIX+Two+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

/*ResetCss*/
/*1.Обнуляем отступы*/
* {
   padding: 0;
   margin: 0;
   border: none;
}

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
/*2.Убираем линии обводки ссылок*/
:focus,
:active {
   outline: none;
}
a:focus,
a:active {
   outline: none;
   color: inherit;
}
/*3.Делаем основные теги блочными*/
nav,
footer,
header,
aside {
   display: block;
}
/*4.Уравниваем рамеры шрифтов и элентов в структуре*/
html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 16px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
/*5.Наследование тегов форм семейства шрифтов*/
input,
button,
textarea {
   font-family: inherit;
   font-size: inherit;
}
/*6.Обнуление определенных кроссбраузерных параметров у тегов форм*/
input::-ms-clear {
   display: none;
}
button {
   cursor: pointer;
   background-color: inherit;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
   color: inherit;
}
a:hover {
   text-decoration: none;
   color: inherit;
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}
/*====================================================================*/

#app {
   font-family: "Open Sans", sans-serif;
   font-weight: 400;
   font-size: 1rem;
}
